.App {
  text-align: center;
  background-color: #d1e5d9;
  background-image: url("./images/pokemon-green-background.png"),
    linear-gradient(180deg, #e5f1ec 0%, #e5f1ec 322px, #d1e5d9 322px);
  background-repeat: no-repeat;
  background-position: center 83px, 0 0;
  background-size: 2250px, auto;
  font-family: monospace;
  height: 100%;
}

#counter {
  font-size: 18px;
  width: 300px;
  background-color: #fff;
  margin: auto;
  border-radius: 20px;
}

form {
  width: 300px;
  display: block;
  margin: auto;
}

.form-control {
  border-radius: 1.5rem !important;
  background-color: transparent !important;
  border: 2px solid #396bba !important;
}

button {
  border-radius: 1.5rem !important;
}