.Card {
  background-color: #fff;
  height: 350px;
  width: 300px;
  border-radius: 25px;
  padding: 25px;
  display: block;
  margin: auto;
  /*border: 10px solid #acacac;*/
  border: 10px solid;
  margin-top: 25px;
  margin-bottom: 25px;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

#flex-item1,
#flex-item2 {
  flex: 1;
  flex-direction: column;
}

#flex-item1 {
  text-align: left;
}

#flex-item2 {
  text-align: right;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

.pokeImg {
  width: 80%;
  -webkit-filter: grayscale(100%);
  -webkit-filter: contrast(0%);
  -webkit-filter: brightness(0%);
}

.normal {
  background-color: #a6a686;
}

.poison {
  background-color: #a040a0;
}
