.Card {
  background-color: #fff;
  height: 350px;
  width: 300px;
  border-radius: 25px;
  padding: 25px;
  display: block;
  margin: auto;
  /*border: 10px solid #acacac;*/
  border: 10px solid;
  margin-top: 25px;
  margin-bottom: 25px;
}

.flex-container1 {
  display: flex;
  flex-direction: row;
}

#flex-item1,
#flex-item2 {
  flex: 1;
  flex-direction: column;
}

#flex-item1 {
  text-align: left;
}

#flex-item2 {
  text-align: right;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}

.img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 6px;
  margin-bottom: 14px;
}

.pokeImg {
  width: 90%;
  -webkit-filter: grayscale(100%);
  -webkit-filter: contrast(0%);
  -webkit-filter: brightness(0%);
  margin-top: 10px;
}
